<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transaction">
            <h2><span>Transaction</span> {{transaction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Transaction ID</span></dt>
                <dd>
                    <span>{{transaction.transactionID}}</span>
                </dd>
                <dt><span>User ID</span></dt>
                <dd>
                    <span>{{transaction.userID}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{transaction.description}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{transaction.type}}</span>
                </dd>
                <dt><span>Total</span></dt>
                <dd>
                    <span>{{transaction.total}}</span>
                </dd>
                <dt><span>Chaka User</span></dt>
                <dd>
                    <div *ngIf="transaction.chakaUser">
                        <a [routerLink]="['/chaka-user', transaction.chakaUser?.id, 'view']">{{transaction.chakaUser?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction', transaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
