<div>
    <h2 id="page-heading">
        <span>User Accounts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-account" [routerLink]="['/user-account/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new User Account
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="userAccounts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accountID"><span>Account ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userID"><span>User ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bilane"><span>Bilane</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userAccount of userAccounts ;trackBy: trackId">
                <td><a [routerLink]="['/user-account', userAccount.id, 'view' ]">{{userAccount.id}}</a></td>
                <td>{{userAccount.accountID}}</td>
                <td>{{userAccount.userID}}</td>
                <td>{{userAccount.bilane}}</td>
                <td>{{userAccount.status}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/user-account', userAccount.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-account', userAccount.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'user-account', { outlets: { popup: userAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="userAccounts && userAccounts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
