<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userAccount">
            <h2><span>User Account</span> {{userAccount.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Account ID</span></dt>
                <dd>
                    <span>{{userAccount.accountID}}</span>
                </dd>
                <dt><span>User ID</span></dt>
                <dd>
                    <span>{{userAccount.userID}}</span>
                </dd>
                <dt><span>Bilane</span></dt>
                <dd>
                    <span>{{userAccount.bilane}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{userAccount.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-account', userAccount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
