<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bonus">
            <h2><span>Bonus</span> {{bonus.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Bonus ID</span></dt>
                <dd>
                    <span>{{bonus.bonusID}}</span>
                </dd>
                <dt><span>User ID</span></dt>
                <dd>
                    <span>{{bonus.userID}}</span>
                </dd>
                <dt><span>Coins</span></dt>
                <dd>
                    <span>{{bonus.coins}}</span>
                </dd>
                <dt><span>User Account</span></dt>
                <dd>
                    <div *ngIf="bonus.userAccount">
                        <a [routerLink]="['/user-account', bonus.userAccount?.id, 'view']">{{bonus.userAccount?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bonus', bonus.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
